/* .about__iconBox > svg {
    display: inline-block;
} */

.about__divider {
  border-top: 1px dashed #bbb;
}

.about__name {
  font-size: 42px;
  font-weight: 100;
  line-height: 44px;
  color: #363636;
}

.about__profession {
  margin: 15px 0 0 0;
  font-size: 16px;
  font-weight: 600;
  color: #363636;
}

.about__iconBox {
  margin: 20px 0px;
}

.about__iconBox a {
  margin-right: 10px;
}

.about__description {
  font-size: 22px;
  color: #494949;
  line-height: 26px;
  font-weight: 300;
  text-align: justify;
}

@media screen and (max-width: 599px) {
  .about__description {
    font-size: 16px;
    line-height: 22px;
  }
}

@media screen and (min-width: 1400px) {
  .about__description {
    font-size: 28px;
    line-height: 30px;
  }
}