.MuiListItemText-root {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.sidebar__header {
  height: 180px;
  background-image: url(sidebar.jpg);
  background-position: center;
  background-size: cover;
  padding: 20px 30px 30px 30px;
}

.sidebar__headerData {
  margin-top: 30px;
}

.sidebar__avatarContainer {
  
  position: relative;
  border-radius: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 75px;
  height: 75px;
}

.sidebar__avatarContainer:before {
  margin: 0;
  padding: 0;
  z-index: 100;
  content: '';
  border: 2px solid white;
  border-radius: 100%;

  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.sidebar__avatar {
  width: 75px;
  height: 75px;
  border-radius: 100%;
}

.sidebar__dataBox {
  margin-top: 15px;
  color: white;
}

.sidebar__dataBox h1 {
  font-size: 15px;
  font-weight: 500;
}

.sidebar__dataBox h3 {
  font-size: 13px;
  font-weight: 400;
}

.sidebar__icons {
  margin-top: 10px;
}

.sidebar__icons:first-child {
  margin-right: 10px;
}
.sidebar__icons > * {
  cursor: pointer;
}
