.footer__container {
  width: 100%;
  padding: 50px 40px;
  background-color: #333;
  color: white;
}

.footer__iconsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer__connectTitle,
.footer__contactTitle {
  color: white;
  margin-bottom: 20px;
  text-align: center;
}

.footer__svgContainer {
  width: 44px;
  height: 44px;
  margin: 0px 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: white;

  border-radius: 100%;
  transition: 0.3s;
}

.svgIcon {
  fill: #333;
  transition: 0.3s;
}

.footer__svgContainer:hover {
  background-color: #7c4dff;
  transform: translateY(-4px);
}

.footer__svgContainer:hover > .svgIcon {
  fill: #fff;
}
