.skills__title {
    text-align: center;
    margin-bottom: 40px;
}

.skills__svgIcon {
    fill: white;
}

.skills__techIcon {
    width: auto;
    height: auto;
}


@media (max-width: 959.95px) {
    .skills__title {
        margin-top: 25px; 
        margin-bottom: 50px;
    }
}